.footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-footer);

    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer__social {
    display: flex;
}

.footer__midia {
    display: block;

    width: 42px;
    height: 42px;

    margin: 2rem 1rem;
}

.footer__navegacion {
    color: var(--background-blanco);
    text-align: center;
    line-height: 3;
}


.footer__enlace {
    display: inline-block;

    margin: 0 .5rem .7rem;
}

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__navegacion {
        text-align: left;
        min-width: 600px;
    }
}

@media screen and (min-width: 1024px) {
    .sobre_nosotros {
        display: flex;
    }
    .sobre_nosotros__contenido {
        margin-right: 3rem;
    }
    .sobre_nosotros__titulo {
        text-align: left;
    }
    .sobre-nosotros__texto--division {
        border-bottom: 1px solid var(--cinza-medio);

        padding-bottom: 1.5rem;
    }
    .sobre-nosotros__imagen {
        display: block;
    }
}