.personas{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.   {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0) {
    .personas{
        flex-direction: column;
    }
    .persona{
        margin-bottom: 2rem;
    }
}   

@media screen and (min-width: 768px) {
    .personas{
        flex-direction: row;
    }
    .persona{
        margin-bottom: 0;    
    }
}